body { 
    color: grey; 
    background-color: rebeccapurple;
    font-size: 15px; 
    font-family: Arial, Helvetica, sans-serif;
}

.hidden { display: none;}
.show {display: block;}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    align-items: center;
}
#showcase{
    background-color: rebeccapurple;
    background-size:cover;
    background-position:center;
    max-width: 800px;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:0 20px;
  
  }
  
  #showcase h1{
    font-size:30px;
    line-height:1.2;
  }
  
  #showcase p{
    font-size:15px;
    color: green;
      line-height: 100px;
  
      text-align: center;
      margin: 0;
  }
  
  #showcase .button{
    font-size:18px;
    text-decoration:none;
    background-color: grey;
    color:#0A4704;
    border:#0A4704 1px solid;
    padding:10px 20px;
    border-radius:10px;
    margin-top:20px;
  }
  
  #showcase .button:hover{
    background:#000000;
    color:#fff;
  }